body{
  font-family:Cairo,Tahoma;
  background:#000;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
}

.thank-box{
  background:#111;
  padding:30px;
  border-radius:18px;
  text-align:center;
  box-shadow:0 20px 40px rgba(0,0,0,.8);
}

.thank-box h1{color:#d4af37}

.thank-box a{
  display:block;
  margin-top:15px;
  background:#d4af37;
  color:#000;
  padding:10px;
  border-radius:10px;
  text-decoration:none;
  font-weight:700;
}